<div class="h-screen w-screen overflow-hidden">
	<div class="relative z-[-1] h-full w-full">
		<div
			class="top-half-container flex h-[25vh] w-[100vw] items-center justify-center overflow-hidden"
		>
			<div
				class="numbering absolute select-none overflow-hidden text-[5rem] font-bold text-primary md:text-[15rem]"
			>
				{{ view404.value }}
			</div>
		</div>
	</div>
</div>
<div
	class="bottom-half-container absolute bottom-0 z-[10] flex h-[0vh] w-screen items-center justify-center overflow-hidden bg-gradient-to-br from-primary to-[#014CA1]"
>
	<div
		class="absolute z-[12] flex h-full w-full flex-col-reverse items-center justify-end gap-[1rem] p-[2rem] md:flex-row md:justify-between md:p-[4rem]"
	>
		<div class="flex flex-col md:flex-[1] md:text-left">
			<div class="relative flex items-end justify-between">
				<div class="flex flex-[1] flex-col">
					<span class="text-3xl text-white">
						Descending into the bottomless ocean,<br />you didn't find any fish
						around.
					</span>
					<span class="text-secondary">
						Perhaps the fish were never here, or they have already moved
						elsewhere.
					</span>
				</div>
				<div class="absolute right-0 flex flex-col opacity-10">
					<span
						class="animate__animated animate__fadeInRight animate__delay-5s select-none text-9xl font-extrabold text-secondary"
						>404</span
					>
				</div>
			</div>

			<div class="btn btn-primary mt-4">Let's ascend back home</div>
		</div>
		<div class="flex flex-[1] items-center justify-center">Cute character</div>
	</div>
</div>
