<!-- <app-navbar></app-navbar> -->
<div class="flex">
	<!-- background -->
	<div class="h-screen w-screen overflow-hidden">
		<div class="relative z-[-1] h-full w-full">
			<img
				src="assets/main-bg.jpg"
				class="main-page-carousel absolute h-full w-full object-cover object-left opacity-0"
				(load)="backgroundLoadConcluded()"
				(error)="backgroundLoadConcluded()"
			/>
		</div>
	</div>

	<!-- splash logo -->
	<div class="absolute z-[0] flex h-full w-full items-center justify-center">
		<div>
			<img
				class="logo h-[200px] w-[200px] scale-[1.5] object-contain p-[1rem] opacity-0 md:h-[250px] md:w-[250px]"
				src="assets/logo-vertical-stylized-color.png"
				(load)="logoLoadConcluded()"
				(error)="logoLoadConcluded()"
			/>
		</div>
	</div>
	<!-- 
	<div
		class="animate__animated animate__fadeIn animate__delay-2s absolute bottom-0 flex w-full flex-col items-start justify-end p-[3rem] md:items-center"
	>
		<div class="mb-[1rem] text-7xl font-extrabold text-primary md:text-8xl">
			Sup<span class="text-secondary">.</span>
		</div>
		<div
			class="rounded-xl bg-accent px-[.5rem] py-[.2rem] text-xl text-accent-content md:text-2xl"
		>
			I draw Art with "anime" style and some silly project.
		</div>
	</div> -->

	<div
		class="absolute bottom-[5rem] flex w-full justify-center gap-[2rem] p-[1rem] md:gap-[3rem]"
	>
		<div
			class="social-link-pixiv-container relative flex items-center justify-start md:justify-center"
		>
			<a
				class="rounded bg-[rgba(255,255,255,.7)] p-[.25rem] transition-all hover:bg-white"
				href="https://www.pixiv.net/en/users/36809573"
				target="_blank"
				(pointerenter)="socialLinkEnterAnimation('social-link-pixiv')"
				(pointerleave)="socialLinkLeaveAnimation('social-link-pixiv')"
			>
				<img
					class="social-link-pixiv h-[30px] w-[30px] object-contain"
					src="assets/social-link/pixiv.svg"
				/>
			</a>
			<div
				class="social-link-pixiv-tooltip absolute bottom-[3rem] left-[-2rem] hidden w-max rounded bg-black p-[.25rem] text-white md:left-auto"
			>
				pixiv.net/en/users/36809573
			</div>
		</div>

		<div
			class="social-link-x-container relative flex items-center justify-center"
		>
			<a
				class="rounded bg-[rgba(255,255,255,.7)] p-[.25rem] transition-all hover:bg-white"
				href="https://x.com/NowaruArt"
				target="_blank"
				(pointerenter)="socialLinkEnterAnimation('social-link-x')"
				(pointerleave)="socialLinkLeaveAnimation('social-link-x')"
			>
				<img
					class="social-link-x h-[30px] w-[30px] object-contain"
					src="assets/social-link/x.svg"
				/>
			</a>
			<div
				class="social-link-x-tooltip absolute bottom-[3rem] hidden rounded bg-black p-[.25rem] text-white"
			>
				&#64;nowaruart
			</div>
		</div>

		<div
			class="social-link-instagram-container relative flex items-center justify-center"
		>
			<a
				class="rounded bg-[rgba(255,255,255,.7)] p-[.25rem] transition-all hover:bg-white"
				href="https://www.instagram.com/nowaruart/"
				target="_blank"
				(pointerenter)="socialLinkEnterAnimation('social-link-instagram')"
				(pointerleave)="socialLinkLeaveAnimation('social-link-instagram')"
			>
				<img
					class="social-link-instagram h-[30px] w-[30px] object-contain"
					src="assets/social-link/instagram.svg"
				/>
			</a>
			<div
				class="social-link-instagram-tooltip absolute bottom-[3rem] hidden rounded bg-black p-[.25rem] text-white"
			>
				&#64;nowaruart
			</div>
		</div>

		<!-- <div
			class="social-link-mail-container relative flex items-center justify-center"
		>
			<a
				class="rounded bg-[rgba(255,255,255,.7)] p-[.25rem] transition-all hover:bg-white"
				href="mailto://gkvnlou@nowaru.com"
				target="_blank"
				(pointerenter)="socialLinkEnterAnimation('social-link-mail')"
				(pointerleave)="socialLinkLeaveAnimation('social-link-mail')"
			>
				<span class="material-symbols-outlined"> mail </span>
			</a>
			<div
				class="social-link-mail-tooltip absolute bottom-[3rem] right-[-2rem] hidden rounded bg-black p-[.25rem] text-white md:right-auto"
			>
				gkvnlou&#64;nowaru.com
			</div>
		</div> -->
	</div>
</div>
